<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{% url 'vote:vote' vote.id %}" method="post">
        {% csrf_token %}
        <h1>{{ vote.name }}</h1>
        <a href="/index/">К активным</a> | <a href="/completed/">К завершенным</a> <br>
        Осталось дней: {{ time_left }} <br>
        <h3>Персонажи:</h3>
        {% for character in vote.character.all %}
        <input type="radio" name="character" id="character{{ forloop.counter }}" value="{{ character.id }}">
        <label for="character{{ forloop.counter }}">
            <img src="{{ character.photo.url }}" width="200px" height="auto"> <br>
            {{ character.last_name }} {{ character.first_name }} {{ character.middle_name }}<br>
            Возраст: {{ character.age }}<br>
            Краткая биография: {{ character.short_biography }} <br>
            Голосов: {{ character.vote_count }}<br>
        </label> <br>
        {% endfor %}
        {% if voting_button %}
            <input type="submit" value="Голосовать">
        {% endif %}
    </form>
    <img src="/plot/{{vote.id}}" width="640" height="auto">
</body>
</html>